@using CRM.Models.DBClasses;

@model List<CustomerCall>

@{
    ViewData["Title"] = "Calls";
}


<!-- Button trigger modal -->
<div class="col-12">
    <button type="button" class="btn btn-outline-primary" 
        data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            onclick="AddOrEditCall('@null')">
        New Call
    </button>
    <br /> <br />
</div>


<!-- Modal -->
<div class="modal fade text-black" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="col-12 modal-title text-center" id="staticBackdropLabel">ADD A NEW CUSTOMER</h5>
            </div>
            <div class="modal-body text-center">
                <div id="waitingGif">
                    <img src="~/img/wait.gif" /> &nbsp;<span id="waitingMessage"></span>
                </div>
                <div id="callDetailView">
                    <div class="row g-3 align-items-center" style="display:none">
                        <div class="col-6">
                            <label for="number" class="col-form-label">Number</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="idInput" class="form-control" aria-describedby="Id" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="timeofcall" class="col-form-label">Customer</label>
                        </div>
                        <div class="col-6">
                            <select id="customerSelect" class="form-control" aria-describedby="Customer" >
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="timeofcall" class="col-form-label">Time Of Call</label>
                        </div>
                        <div class="col-6">
                            <input type="datetime-local" id="timeOfCallInput" class="form-control" aria-describedby="timeofcall">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="subject" class="col-form-label">Subject</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="subjectInput" class="form-control" aria-describedby="subject">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="description" class="col-form-label">Description</label>
                        </div>
                        <div class="col-6">
                            <textarea id="notesInput" class="form-control" aria-describedby="description">
                            </textarea>
                        </div>
                    </div>
                    <br />
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="SaveCall()">Save</button>
            </div>
        </div>
        </div>
    </div>
</div>





<!--Table-->
<div class="table-responsive" id="no-more-tables">
    <table id="table" class="table text-white table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Time Of Call</th>
                <th>Subject</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var call in Model)
            {
                <tr>
                    <td data-title="Customer">@call.CustomerName</td>
                    <td data-title="Time Of Call">@call.TimeofCall</td>
                    <td data-title="Subject">@call.Subject</td>
                    <td data-title="Description">@call.Notes</td>
                    <td>
                        <button type="button" class="btn btn-outline-info"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            onclick="AddOrEditCall('@call.Id')">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger" onclick="DeleteCall('@call.Id')">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/calls.js"></script>