@using CRM.Models.DBClasses;

@model List<Customer>

<a href="~/customers/generate">Download report</a>

@{
    ViewData["Title"] = "Customers";
}


<!-- Button trigger modal -->
<div class="col-12">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        New Customer
    </button>
    <br /> <br />
</div>

<!-- Modal -->
<div class="modal fade text-black" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="col-12 modal-title text-center" id="staticBackdropLabel">ADD A NEW CUSTOMER</h5>
            </div>
            <div class="modal-body text-center">

                <div id="waitingGif">
                    <img src="~/img/wait.gif" /> &nbsp;<span id="waitingMessage"></span>
                </div>
                <div id="customerDetailView">
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="number" class="col-form-label">Number</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="customerNumberInput" class="form-control" aria-describedby="number" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="name" class="col-form-label">Name</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="customerNameInput" class="form-control" aria-describedby="Name">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="surname" class="col-form-label">Surname</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="customerSurNameInput" class="form-control" aria-describedby="surname">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="address" class="col-form-label">Address</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="customerAddressInput" class="form-control" aria-describedby="address">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="postcode" class="col-form-label">Post Code</label>
                        </div>
                        <div class="col-6">
                            <input type="number" id="customerPostalCodeInput" class="form-control" aria-describedby="postcode">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="country" class="col-form-label">Country</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="customerCountryInput" class="form-control" aria-describedby="country">
                        </div>
                    </div>
                    <br />
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                            <label for="dateofbirth" class="col-form-label">Date of Birth</label>
                        </div>
                        <div class="col-6">
                            <input type="date" id="customerDOBInput" class="form-control" aria-describedby="dateofbirth">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="SaveCustomer()">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Table-->
<div class="table-responsive" id="no-more-tables">
    <table id="table" class="table text-white table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Surename</th>
                <th>Address</th>
                <th>Post Code</th>
                <th>Country</th>
                <th>Date Of Birth</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td data-title="N°">@customer.Number</td>
                    <td data-title="Name">@customer.Name </td>
                    <td data-title="Surename">@customer.SurName</td>
                    <td data-title="Address">@customer.Address</td>
                    <td data-title="Post Code">@customer.PostalCode</td>
                    <td data-title="Country">@customer.Country</td>
                    <td data-title="Date Of Birth">@customer.DateOfBirth</td>
                    <td>
                        <button type="button" class="btn btn-outline-info" 
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                onclick="EditCustomer(@customer.Number)">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger" onclick="DeleteCustomer(@customer.Number)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

